body
{
	background: url(img/bg.gif);
}
table
{
	background: #fff;
}
.main_border
{
	border: 1px solid #000;
	width: 690px;
}

p
{
	font-family: Verdana;
	font-size: 12px;
	margin: 15px;
}
.header
{
	background: url(img/header.jpg) no-repeat center center;
	width: 690px;
	height: 100px;
}
.left
{
	background: #f6f6f6;
	border-right: 1px solid #424242;
	vertical-align: top;
}
.v_top
{
	vertical-align: top;
}
p.title {
background-color: #A72E37;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}
.col-md-12 img {
	margin: 0 auto;
	display: block;
}

.lesson
{
	border: 1px solid #ccc;
	width: 95%;
}
.lesson_title
{
	background: #f6f6f6;
}
.lesson_name
{
	font-weight: bold;
	margin: 7px 15;
}
.lesson_adds{
	font-size: 11px;
	margin:7px 15;
	color: #424242;
}

.view_title
{
	font-size: 22px;
	font-weight: bold;
	color:red;
	margin-left: 15px;
	text-align: center;
}

.view_date
{
	color: #424242;
	font-size: 11px;
	margin: 7px 15px;
}

#coolmenu{
border: 1px solid gray; /*Ñòèëü ðàìêè */
border-bottom-width: 0;
width: 93%; /*Øèðèíà ìåíþ */
background-color: #f6f6f6;  /*Ôîíîâûé öâåò ÿ÷åéêè*/
margin:8px; /*Øèðèíà îòñòóïîâ*/
}

* html #coolmenu{ 
width: 150px;/*Øèðèíà ìåíþ äëÿ Internet Explorer*/
}

#coolmenu a{
font: bold 13px Verdana; /*Øðèôò òåêñòà*/
padding: 2px; /*Âíóòðåííèé îòñóòï òåêñòà ññûëêè îò êðàåâ ÿ÷åéêè*/
padding-left: 4px;/*Âíóòðåííèé îòñóòï òåêñòà ññûëêè îò ëåâîãî êðàÿ ÿ÷åéêè*/
display: block;
width: 100%; /*Øèðèíà ÿ÷åéêè*/
color: #000000;  /*Öâåò òåêñòà*/
text-decoration: none; /*Ïîä÷åðêèâàíèå ó ññûëîê - íåò*/
border-bottom: 1px solid gray;
}

html>body #coolmenu a{ 
width: auto;
}

#coolmenu a:hover{
background-color: #cccccc; /*Ôîíîâûé öâåò ÿ÷åéêè ïðè íàâåäåíèå êóðñîðà*/
color: #000000;  /*Öâåò òåêñòà ïðè íàâåäåíèè êóðñîðà*/
}

.footer
{
	background: url(img/footer.jpg) no-repeat center center;
	width: 690px;
	height: 18px;
}

